<section class="rock-paper-scissors">
  <article class="rock-paper-scissors__info">
  </article>
  <article class="rock-paper-scissors__computer">
    <p>Computer <span>0</span></p>
    <div></div>
  </article>
  <article class="rock-paper-scissors__user">
    <div>
      <label>
        <input type="radio" name="user-choice" value="rock">
        <img src="/assets/images/rock.png" alt="rock">
      </label>

      <label>
        <input type="radio" name="user-choice" value="paper">
        <img src="/assets/images/paper.png" alt="paper">
      </label>

      <label>
        <input type="radio" name="user-choice" value="scissors">
        <img src="/assets/images/scissors.png" alt="scissors">
      </label>
    </div>
    <p>You <span>0</span></p>
  </article>
  <article class="rock-paper-scissors__actions">
    <button>exit</button>
    <button>reset</button>
    <button>run</button>
  </article>
</section>
